body {
    background-color: #202028;
    color: white;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
}
#tetris {
    margin-left: 100px;
    border: solid .2em #fff;
    height: 90vh;
}
#Next {
    border: solid .2em #fff;
    margin-bottom: 30%;
}
#navigation{
    background-color:royalblue;
    width: 100%;
    height: auto;
    font-size: 11pt;
}
th{
    color: black;
    text-align: center;
}

a:hover{
    color: black;
}

a:active{
    color: black;
}

a{
    color: white;
    text-decoration: none;
}