body{
    background-color: #3c3c3c;
}
#navigation{
    background-color:royalblue;
    width: 100%;
    height: 5px;
    
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 5;
}
th{
    color: black;
    padding: 10px;
    text-align: center;
}

a:hover{
    color: black;
}

a:active{
    color: black;
}

a{
    font-size: 25px;
    color: white;
    text-decoration: none;
}
.container {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    font-size: 17pt;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: auto;
    border: 8px solid royalblue;
  }
  h1{
      text-align: center;
  }
  #middle{
      width: 600px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      
  }